h5 {

background-color: tomato;   

}

.ordered_list_social li {
    color: red;
}

.header > img {

    height: 50px;
}

#paraghraph_one_id{
    background-color:rgb(76, 153, 50);
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif;
    text-align: right;
    font-size: 30pt;
}

.paraghraph_one{
    background-color: black;
}

p {
 background-color: blue;
}

#AXSOS_Academy_background1 {
    background-image: url("img/1.png");
    width: 2000px;
    height: 2000px;
    border: 1px solid #000000;
    background-repeat: no-repeat;
    margin: 30px 30px 30px 30px ;
    padding-left:  30px; 
    padding-right: 30px;
    padding-bottom:30px ;
}

#AXSOS_Academy_background2{
    margin: 10px 20px 30px 10px ;
    border: 1px solid #000000;
}